@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var userFullName = User.FindFirstValue(ClaimTypes.Name);
    var userRole = User.FindFirstValue(ClaimTypes.Role);
    var avatar = User.FindFirstValue(ClaimTypes.Thumbprint);
}

<!DOCTYPE html>
<html
    lang="vi-vn"
    class="light-style layout-menu-fixed"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="~/"
    data-template="vertical-menu-template-free"
    ng-app="HouseManagement">
<head>
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>@ViewBag.Title | HouseManagement</title>

    <meta name="description" content=""/>

    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"/>

    <link rel="stylesheet" href="~/vendor/fonts/boxicons.css"/>

    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="~/css/demo.css"/>

    <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css"/>
    <script src="~/vendor/js/helpers.js"></script>
    <script src="~/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        @await Html.PartialAsync("_SideBar")

        <!-- / Menu -->

        <div class="layout-page">

            <nav
                class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="@avatar" alt class="w-px-40 h-auto rounded-circle"/>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="@avatar" alt class="w-px-40 h-auto rounded-circle"/>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">@userFullName</span>
                                                <small class="text-muted">@userRole</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">Thông tin</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-cog me-2"></i>
                                        <span class="align-middle">Cài đặt</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper">

                @RenderBody()
                <!-- / Content -->

                @*<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2147483647;">
                    <img src="~/img/backgrounds/spinner.gif" alt="Loading..." />
                </div>*@

                <div class="overlay active" >
                    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2147483647;">
                        <img src="~/img/backgrounds/spinner.gif" alt="Loading..." style="width: 5rem"/>
                    </div>  
                </div>

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©<script>document.write((new Date().getFullYear()).toString());</script>, made with ❤️ by
                            <a href="https://facebook.com/minhnghia2k" target="_blank" class="footer-link fw-bolder">NghĩaPM</a>
                        </div>
                    </div>
                </footer>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<script src="~/vendor/libs/jquery/jquery.js"></script>
<script src="~/vendor/libs/popper/popper.js"></script>
<script src="~/vendor/js/bootstrap.js"></script>
<script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/vendor/js/menu.js"></script>
<script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/dashboards-analytics.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
<script src="~/js/sweetalert2.js"></script>
<script src="~/scripts/common/toast.js"></script>
<script src="~/scripts/common/app.js"></script>
<script src="~/scripts/utility/validation.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>